<div>
    <div class="w_vz-review">
        <div class="content-wrapper text-grey-1">
            <div class="row fluid-grid tiny-collapse">
                <div class="column large-2 w_vz-review-header-container">
                    <div class="w_vz-review-header-title-wrap">
                        <h2 class="w_vz-review-header-copy">Review<br> your lineup</h2>
                    </div>
                </div>
                <div class="no-padding-column column large-10 medium-12 tiny-12 tiny-collapse w_vz-review-details-area" id="review">
                    <div class="w_vz-review-service-title">
                        <h3>{{vm.plans[0].Name}}</h3>
                    </div>
                    <div class="w_vz-review-products">
                        <div class="row">
                            <div class="column tiny-12 medium-6 w_vz-review-fees-container is--visible w_vz-review-monthly-fees-container--js">
                                <div class="row w_vz-review-total-row tiny-collapse">
                                    <div class="column tiny-6 no-padding-column"><span>Monthly fees</span></div>
                                    <div class="column tiny-6 no-padding-column"><span class="w_vz-review-price">${{vm.TotalPrice}}/mo</span></div>
                                </div>
                                <div class="w_vz-review-section" ng-repeat="plan in vm.plans">
                                    <div class="row tiny-collapse">
                                        <div class="no-right-padding-column column tiny-12 tiny-collapse">
                                            <span class="bold">
                                                {{plan.Name}}
                                            </span>
                                        </div>
                                        <!--<div class="no-right-padding-column column tiny-3 tiny-collapse" ng-if="service.IsNotAdded && service.ServiceTitle!='Phone'">
                                            <a class="block w_vz-review-modify-links bold" ng-click="change(service, option.AddonUrl)">
                                                <span>Add</span>
                                            </a>
                                        </div>-->
                                    </div>
                                    <div class="row tiny-collapse padding-all-tiny">
                                        <div class="no-right-padding-column column tiny-6 tiny-collapse">
                                            <span ng-bind-html="plan.Description"></span>
                                        </div>
                                        <div class="no-right-padding-column column tiny-3 tiny-collapse">
                                            <span class="">${{plan.Price}}</span>
                                        </div>
                                        <div class="no-right-padding-column column tiny-3 tiny-collapse">
                                            <a class="block w_vz-review-modify-links bold">
                                                <span ng-click="vm.changePlan()">Edit</span>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="row tiny-collapse">
                                    <div class="no-right-padding-column column tiny-6 tiny-collapse bottom-row">
                                        <span>* excludes taxes</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="no-padding-column column large-10 medium-12 tiny-12 tiny-collapse w_vz-review-details-area" id="orderPlaced" style="display:none">
                    <div class="w_vz-review-service-title">
                        <h6>Your Order Has been placed . Thank you for choosing Verizon! </h6>
                    </div>
                </div>
                </div>
        </div>
        <div class="row fluid-grid tiny-collapse" id="submitButton">
            <div class="no-right-padding-column column tiny-12" style="position:fixed;bottom:0;">
                <a class="button text-center margin-bottom-zero" ng-click="vm.submitClick()">Submit</a>
            </div>
        </div>
    </div>
</div>


