<div class="w_vz-header-container" ng-class="{ 'w_vz-header-mobile--scrolled' : isScrolled }">
    <div class="w_vz-header">
        <a href="#/">
            <img class="w_vz-logo" src="Images/Verizon_FiOS_Logo_2015.png" />
        </a>
        <span class="vzicon icon-chat text-brand-1 right padding-all-tiny" ng-click="onChatClick()"></span>
        <a ng-click="feedback()" ng-if="isFeedbackVisible" class="right vzcolor  secondary text-center no-focus-effect no-icon p-40">
            Tell Us
        </a>
    </div>
</div>
